body
{
	background-color: #000000;
	color: #FFBA27;
}

h1
{
	color: #C89934;
	text-align: center;
}

li
{
	line-height: 1.5;
}

img
{
	height: 40vh;
	margin-left: 5%;
}

.rules
{
	color: #D93345;
}

a
{
	color: #D93345;
}

a:visited
{
	color: #C89934;
}
